.myImg {
    height: 200px !important;
    width: auto;
}

.myCard {
    border: 3px  blueviolet solid !important;
    background:  black;
    border-radius: 0;
    margin-top: 0.2em;
    border-bottom: 0;
}
.myCard-Footer{
    background:rgb(130, 168, 238);
    border: 3px  blueviolet solid !important;
    border-radius: 0;
    min-height: 200px;
}