.headerBackground{
    height: 100vh;
    background-color: crimson;
    background:url("https://media.gq.com.mx/photos/5f46c2044464f9b88fb25e99/master/w_3000,h_1688,c_limit/evangelion-neon-genesis.jpg");
}


.textoHeader{
    color: rgb(130, 168, 238);
    font-weight: bold;
    font-size: 200%;
    margin-right: 50%;
    margin-top: 10%;
    margin-left: 5%;
}

.textoClass{
    text-align: justify;
}